<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el head y le pasamos un obj literal con el titulo y el nombre del archivo css -->
<%- include('../partials/head', {title: 'Home' , fileCss: 'home' , otherCss: false })%>

    <body>
        <!-- Incluimos el header en el body -->
        <%-include('../partials/header')%>

            <section class="cont-banner">
                <img class="banner" src="/img/banner1.png" alt="banner">
            </section>

            <main class="principal">

                <h2 class="titulo-seccion">VARIEDADES</h2>

                <% let variedades = ['Ale', 'Stout', 'Afrutadas' , 'Trigo', 'Porter', 'Lager', 'Especiales'] %>  
                
                <section class="categorias">
                <% for(let i = 0; i < variedades.length; i++){ %>                      
                        <article class="categ-producto">
                            <!-- /productos/variedades/ -->
                            <a href="#">
                                <img class="img-categ" src="/img/productos/categorias/Categoria.jpg" alt="imagen variedades">
                                <div class="descripcion"><%= variedades[i] %></div>
                            </a>
                        </article>                  
                    <% } %>                
                </section>

                <h2 class="titulo-seccion-destacados">PRODUCTOS DESTACADOS</h2>

                <section class="destacados">
                    <% for(let i=0; i < productos.length ; i++) {%>
                        <article class="dest-producto">
                            <a href="/productos/detalle/<%= productos[i].id %>">
                                <img class="img-categ" src="/img/productos/<%= productos[i].img %>"
                                    alt="imagen categoria">
                                <div class="caja-descripcion">
                                    <div class="descripcion">
                                        <%= productos[i].nombre %>
                                    </div>
                                    <div class="descripcion">
                                        <%= productos[i].variedad %>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <% } %>
                </section>
            </main>

            <!-- Incluimos el footer a nuestro body -->
            <%-include('../partials/footer')%>
    </body>

</html>