<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Administrar Productos' , fileCss: 'administrar-productos' , otherCss: false })%>
    <body>
        <%-include('../partials/header')%>
            <main class="principa-administrar">
                <h3 class="titulo-page">Administrar Productos</h3>
                <div class="acciones">
                    <a class="btn-nuevo-producto" href="/productos/registrar">Nuevo Producto</a>
                </div>
                <table class="table">
                    <thead>
                      <tr>  
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% productos && productos.forEach(producto => { %>
                      <tr>
                        <td><%= producto.id%> </td>
                        <td><%= producto.nombre%></td>
                        <td class="td"><a href="/productos/administrar/detalle/<%= producto.id%>"><i class="fa-regular fa-eye"></i></a></td>
                        <td class="td"><a href="/productos/editar/<%= producto.id%>"><i class="fa-solid fa-pencil"></i></a></td>
                        <td class="td"><a id="btnDelete" href="/productos/delete/<%= producto.id%>"><i class="fa-regular fa-trash-can"></i></a></td>
                      </tr>
                      <% }) %> 
                    </tbody>
                  </table> 
            </main>
        <%-include('../partials/footer')%>
        <script src="/js/confirmarDelete.js"></script>
    </body>
</html>