<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Detalle Producto' , fileCss: 'detalle-producto' })%>

    <body>
        <!-- Incluimos el header en el body -->
        <%-include('../partials/header')%>

            <main class="principal-detalle">

                <div class="section-padre">

                    <section class="section-imagen-main">
                        <img class="img-main" src="/img/productos/<%= miProducto.img %>" alt="imagen producto">
                    </section>

                    <section class="section-padre-detalles">

                        <section class="section-detalles">

                            <div id="nombre-producto">Nombre: <%= miProducto.nombre %></div>
                            <div id="precio">Precio: $<%= miProducto.precio %></div>
                            <div id="descripcion">
                                <%= miProducto.descripcion %>
                            </div>
                            <% if(miProducto.disponible){ %>
                                <div id="stock">Stock: Disponible</div>
                                <% }else{ %>
                                    <div id="stock">Stock: No Disponible</div>
                                    <% } %>

                        </section>

                        <section class="section-comprar">
                            <button id="comprar">Comprar</button>
                            <button id="agregar-carrito">Agregar al carrito</button>
                        </section>

                    </section>
                
                </div>    

            </main>

            <!-- Incluimos el footer en el body -->
            <%-include('../partials/footer')%>
    </body>

</html>