<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editar Producto' , fileCss: 'registrar-producto' , otherCss: false })%>

    <body>
        <%-include('../partials/header.ejs')%>
                                                                    <!-- ?_method=PUT   enctype="multipart/form-data"-->
            <main>
                <h3 class="titulo-page">Editar producto.</h3>
                <form class="form-registro" action="/productos/actualizar/<%= Producto.id%>?_method=PUT" method="post" enctype="multipart/form-data">
                    
                    <div>
                        <label for="nombre">Nombre</label>                        
                        <textarea class="text-area" name="nombre" id="nombre" cols="45" rows="1"><%=Producto.nombre%></textarea>
                    </div>

                    <div>
                        <label for="cervecera">Cervecera</label>                        
                        <textarea class="text-area" name="cervecera" id="cervecera" cols="45" rows="1"><%=Producto.cervecera%></textarea>
                    </div>
                                  
                    <div>
                        <label for="categoria">Seleccione la categoría</label>
                        <select name="categoria" id="categoria" >                            
                            <option  value="1">Seleccione</option>
                            <option <%= Producto.categoria == 'AFRUTADAS' ? 'selected' : null %> value="AFRUTADAS">Afrutadas</option>
                            <option <%= Producto.categoria == 'ALE' ? 'selected' : null %> value="ALE">Ale</option>
                            <option <%= Producto.categoria == 'STOUT' ? 'selected' : null %> value="STOUT">Stout</option>
                            <option <%= Producto.categoria == 'TRIGO' ? 'selected' : null %> value="TRIGO">Trigo</option>
                            <option <%= Producto.categoria == 'PORTER' ? 'selected' : null %> value="PORTER">Porter</option>
                            <option <%= Producto.categoria == 'LAGER' ? 'selected' : null %> value="LAGER">Lager</option>
                            <option <%= Producto.categoria == 'ESPECIAL' ? 'selected' : null %> value="LAGER">ESPECIAL</option>
                        </select>
                    </div>

                    <div>
                        <label for="categoria">Seleccione la variedad</label>
                        <select name="variedad" id="variedad">
                            <option  value ="1">Seleccione</option>
                            <option <%= Producto.variedad == 'TRAPENSE' ? 'selected' : null %> value="TRAPENSE">Trapense</option>
                            <option <%= Producto.variedad == "LAMBIC" ? 'selected' : null %> value="LAMBIC">Lambic</option>
                            <option <%= Producto.variedad == "TRIGO" ? 'selected' : null %> value="TRIGO">Trigo</option>                            
                        </select>
                    </div>

                    <div>
                        <label for="descripcion">Descripción</label>                        
                        <textarea class="text-area" name="descripcion" id="descripcion" cols="45" rows="2"><%=Producto.descripcion%></textarea>
                    </div>

                    <div>
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio" value=<%=Producto.precio%>>
                    </div>

                    <div>
                        <label for="cont_envase">Seleccione el volumen</label>
                        <select name="cont_envase" id="cont_envase">
                            <option value=0 >Seleccione</option>
                            <option <%= Producto.cont_envase == 350 ? 'selected' : null %> value='350'>350ml</option>
                            <option <%= Producto.cont_envase == 500 ? 'selected' : null %> value='500'>500ml</option>
                            <option <%= Producto.cont_envase == 750 ? 'selected' : null %> value='750'>750ml</option>
                            <option <%= Producto.cont_envase == 1000 ? 'selected' : null %> value='1000'>1000ml</option>
                            <option <%= Producto.cont_envase == 1500 ? 'selected' : null %> value='1500'>1500mL</option>
                            <option <%= Producto.cont_envase == 3000 ? 'selected' : null %> value='3000'>3000ml</option>
                        </select>
                    </div>

                    <div>
                        <label for="nacionalidad">Nacionalidad</label>                        
                        <textarea class="text-area" name="nacionalidad" id="nacionalidad" cols="45" rows="1"><%=Producto.nacionalidad%></textarea>
                    </div>

                    <div>
                        <label for="graduacion">Graduación</label>
                        <input type="number" name="graduacion" id="graduacion" value=<%=Producto.graduacion%>>
                    </div>

                     <div>                
                        <label for="imagen">Seleccione una imagen si desea cambiar la actual</label>
                        <input class="fileIMG" type="file" name="imagen" id="img" value=<%=Producto.img%>>
                    </div>
                    
                    <div >
                        <button class="submit" type="submit">Actualizar</button>
                        <a class="btnVolver" href="/productos/administrar">Volver</a>
                    </div>
                </form>
            </main>

            <%-include('../partials/footer.ejs')%>
    </body>

</html>