<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el head y le pasamos un obj literal con el titulo y el nombre del archivo css -->
<%- include('../partials/head', {title: 'Cambiar correo' , fileCss: 'menu-setting' , otherCss: 'cambiarCorreo-Password-Ubicacion-Avatar' }) %>

    <body>        
        <%- include('../partials/header') %>

        <%- include('../partials/menuSetting') %>
            <section class="view">
                
                <p class="boxInfo">Ten en cuenta que con este nuevo correo electrónico deberás iniciar sesión.</p>
                
                <form action="/usuario/setting/cambiar-correo/<%=locals.userLogged.id%>?_method=PUT" method="post" class="contenedor-input">

                    <label class="label" for="correoNuevo">Ingrese su nuevo correo</label>
                    
                    <input 
                        name="correo" 
                        class="inputEmail" 
                        id="correoNuevo" 
                        type="text"
                    >

                    <% if(locals.errors){ %>
                        <div class="texto-errorValidacion maxWidth">
                            <%= errors.msg %>
                        </div>
                    <% } %>

                    <div>
                        <button class="btn" type="submit">Actualizar</button> 
                    </div>
                </form>

            </section>

            <%- include('../partials/footer') %>
    </body>

</html>